body {
    background-image: url("../images/74-748931_empty-bowl-empty-bowl.png");
    background-position: center;
    background-repeat: no-repeat;
}

.scores {
    display: none;
}

.player-card {
    display: none;
}

.win-screen {
    display: none;
}